.main-canvas-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  flex: 4;
  width: 100%;
  height: 100%;

  svg {
    max-width: 90%;
    height: auto;
    display: block;
  }
}